<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Биржа стажировок</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>



  <header>
    <h1>Биржа стажировок</h1>
    <nav>
      <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Задачи</a></li>
        <li><a href="{{ url_for("internships")}}" {% if not session.get('user_id') %}style="display: none;"{% endif %}>Стажировки</a></li>
        {% if session.get('user_id') %}
        <li><a href="{{ url_for("dashboard")}}">Профиль</a></li>
        {% endif %}
        {% if not session.get('user_id') %}
        <li class="auth-buttons">
          <button id="register-button">Регистрация</button>
          <button id="login-button">Авторизация</button>
        </li>
        {% else %}
        <li class="auth-buttons">
          <form action="/logout" method="GET">
            <button id="logout-button" type="submit">Выйти</button>
          </form>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  
  
  <main>
    <section>
      <h2>Добро пожаловать на биржу стажировок</h2>
      <p>Платформа предоставляет возможность незарегистрированным участникам ознакомиться с основной информацией и ресурсами без доступа к персональным данным.</p>
    </section>
    

  </main>
  
  <footer>
    <p>&copy; 2023 Биржа стажировок</p>
  </footer>


  <div id="register-modal" class="modal">
    <div class="modal-content">
      <h2>Выберите тип регистрации</h2>
      <button id="customer-register" class="modal-button">Заказчик</button>
      <button id="intern-register" class="modal-button">Стажер</button>
    </div>
  </div>

  <script src="/static/JS/script.js"></script>
</body>
</html>
