<!-- internships.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=
    Inter:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" href="/static/css/create_card.css">
</head>
<body>
  <div class="wrapper">
    <header class="header header-main">
      <div class="container">
          <div class="header__inner">
              <a href="{{ url_for("index")}}" class="logo">
                  <img src="/static/img/logo.png" alt="" class="logo__img">
              </a>   
              <nav class="menu">
                  <ul class="menu__list">
                      <li class="menu__list-item"><a href="{{ url_for("internships")}}" class="menu__list-link">
                              СТАЖИРОВКИ
                          </a></li>
                      <li class="menu__list-item"><a href="{{ url_for("clients")}}" class="menu__list-link">
                              ЗАКАЗЧИКИ
                          </a></li>
                      <li class="menu__list-item"><a href="{{ url_for("trainees")}}" class="menu__list-link">
                              СТАЖЕРЫ
                          </a></li>
                          {% if session.get('user_id') %}
                          <li class="menu__list-item"><a href="{{ url_for("dashboard")}}" class="menu__list-link">
                                  ПРОФИЛЬ
                              </a></li>
                              {% endif %}
                              {% if session.get('user_id') %}
                              <li class="menu__list-item"><a href="{{ url_for("chat")}}" class="menu__list-link">
                                      ЧАТ
                                  </a></li>
                                  {% endif %}
                      <li class="menu__list-item"><a href="#" class="menu__list-link">
                              О НАС
                          </a></li>
                      
                  </ul>
              </nav>

          </div>
      </div>
    </header>

    <main class="main">
        <section class="top">
            <div class="container">
              <h1 class="title">
                Доска стажировок
              </h1>
              {% if user_type == 'customer' %}
              <a class="button__link-addtrainee" href="/create_internship" class="create-internship-button">Добавить стажировку</a>
              {% endif %}
            </div>
          </section>

      
      
          <div class="cards">
            {% for internship in internships %}
            <div class="card">
              <p class="card-element" name="Traineeship_name">{{ internship['Traineeship_name'] }}</p>
              <p class="card-element" name="Traineeship_description">{{ internship['Traineeship_description'] }}</p>
              <p class="card-element" name="Traineeship_type">{{ internship['Traineeship_type'] }}</p>
              <p class="card-element" name="Traineeship_pasport">{{ internship['Traineeship_pasport'] }}</p>
              <p class="card-element" name="Traineeship_level">{{ internship['Traineeship_level'] }}</p>
              <a href="/internship/{{ internship['Traineeship_id'] }}"><button class="apply-button">Подробнее</button></a>
            </div>
            {% endfor %}
          </div>
          
      

      </section>
    </main>

  </div>
  <footer class="footer">
    <div class="container">
        <ul class="app">
            <li class="app__item">
                <a href="#" class="app__item-links">
                    <img class='app__item-img' src="img/apple.png" alt="" class="">
                </a>
            </li>
            <li class="app__item">
                <a href="#" class="app__item-links">
                    <img class='app__item-img' src="img/google-play.png" alt="" class="">
                </a>
            </li>
        </ul>
        <nav class="copy__nav">
            <ul class="copy__nav-list">
                <li class="copy__nav-item"><a href="#" class="copy__nav-link">
                        Terms of Service
                    </a></li>
                <li class="copy__nav-item"><a href="#" class="copy__nav-link">
                        Privacy Policy
                    </a></li>
                <li class="copy__nav-item"><a href="#" class="copy__nav-link">
                        Do Not Sell My Personal Information
                    </a></li>
                <li class="copy__nav-item"><a href="#" class="copy__nav-link">
                        Ета сделали Чен Павел и Белов Дмитрий
                  </a></li>
            </ul>
        </nav>
    </div>
</footer>

</body>
</html>
