<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация стажера</title>
    <!-- шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=
    Inter:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel='stylesheet' href='/static/css/Signstyle.css'>
</head>
<body>

    <main class="main">

        <div class="container">
            <form class="itsform" method="post" action="/register/intern">
                <h3>Регистрация стажера</h3>
                <input placeholder="Логин" type="text" id="login" name="login" required>
                <br>
                <input placeholder="Пароль" type="password" id="password" name="password" required>
                <br>
                <input placeholder="Имя" type="text" id="name" name="name" required>
                <br>
                <input placeholder="Фаилия" type="text" id="surname" name="surname" required>
                <br>
                <input placeholder="Отчество" type="text" id="patronymic" name="patronymic">
                <input class="button" type="submit" value="Зарегистрироваться">
            </form>

        </div>
    </main>


</div>
</body>
</html>
